################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GuildedRose.Core/obj/Debug
/GuildedRose.Test/obj/Debug
/GuildedRose.Test/bin/Debug
